@model MigrationsList
@{
	Layout = "~/Views/Layouts/MigrationDefault.cshtml";
	ViewData["Title"] = "Database Migrations";
}

@if (Model.Errors.Any())
{
	<div class="alert alert-danger">
		@Html.Raw(string.Join("<br/>",Model.Errors))
		<br />
		<br />
		Please use '{year:0000}{month:00}{day:00}{hour(24 hours format):00}{minute:00} + description' format for migration file names with .sql extension
		<br />
		File name starts with 12 digits
		<br />
		<br />
		Valid file name sample : 202312121212_add_new_field_to_person_table.sql
	</div>
}

@if (Model.Items.None())
{
	<div class="alert alert-info">
		There is no migration file
	</div>
}
else
{
	<div class="table-responsive">
		<table class="table table-hover text-nowrap">
			<thead>
				<tr>
					<th>Name</th>
					<th>Migrate</th>
					<th>Backup before migration</th>
					<th>Backup after migration</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Items)
				{
					<tr>
						<td>
							<span class="me-2 @(item.Item.Migrated?"text-success":"text-warning")">@(item.Item.Migrated ? "Done" : "Waiting")</span>
							@item.Item.Name<br />
							Create on: @item.Item.CreateOn<br />
							Load on: @item.Item.LoadOn
						</td>
						<td>
							@if (!item.Item.Migrated)
							{
								<a href="/olive/migration/migrate/@item.Item.GetId()" class="btn btn-outline-primary btn-sm">Migrate</a>
								<br />
							}
							Migrate start on: @item.Item.MigrateStartOn<br />
							Migrate end on: @item.Item.MigrateEndOn
						</td>
						<td>
							@if (item.Item.BeforeMigrationBackupPath.HasValue())
							{
								<a href="/olive/migration/restore/@item.Item.GetId()?witch=before" class="btn btn-outline-warning btn-sm">Restore before migration backup</a>
								<br />
							}
							Path: @item.Item.BeforeMigrationBackupPath<br />
							Backup on: @item.Item.BeforeMigrationBackupOn<br />
							Restore on: @item.Item.BeforeMigrationRestoreOn
						</td>
						<td>
							@if (item.Item.AfterMigrationBackupPath.HasValue())
							{
								<a href="/olive/migration/restore/@item.Item.GetId()?witch=after" class="btn btn-outline-warning btn-sm">Restore after migration backup</a>
								<br />
							}
							Path: @item.Item.AfterMigrationBackupPath<br />
							Backup on: @item.Item.AfterMigrationBackupOn<br />
							Restore on: @item.Item.AfterMigrationRestoreOn
						</td>
					</tr>
					@if (item.Item.LastError.HasValue())
					{
						<tr>
							<td colspan="4" class="text-danger">
								[ERROR ON @item.Item.Name] : @item.Item.LastError
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
}