@model MigrationsList
@{
	Layout = "~/Views/Layouts/MigrationDefault.cshtml";
	ViewData["Title"] = "Database Migrations";
}

@if (Model.Errors.Any())
{
	<div class="alert alert-danger">
		@Html.Raw(string.Join("<br/>",Model.Errors))
		<br />
		<br />
		Please use '{year:0000}{month:00}{day:00}{hour(24 hours format):00}{minute:00} + description' format for migration file names with .sql extension
		<br />
		File name starts with 12 digits
		<br />
		<br />
		Valid file name sample : 202312121212_add_new_field_to_person_table.sql
	</div>
}

@if (Model.Items.None())
{
	<div class="alert alert-info">
		There is no migration file
	</div>
}
else
{
	<div class="table-responsive">
		<table class="table table-hover text-nowrap">
			<thead>
				<tr>
					<th class="w-100">Name</th>
					<th>Create on</th>
					<th>Backup before migration</th>
					<th>Backup after migration</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Items)
				{
					<tr>
						<td class="w-100">@item.Item.Name</td>
						<td>
							Create on: @item.Item.CreateOn
							Load on: @item.Item.LoadOn<br />
							Migrate start on: @(item.Item.MigrateStartOn?.ToShortTimeString() ?? "Not started")<br />
							Migrate end on: @(item.Item.MigrateEndOn?.ToShortTimeString() ?? "Not finished")@if (!item.Item.Migrated)
							{
								<br />
								<a href="/olive/migration/migrate/@item.Item.GetId()" class="btn btn-primary">Migrate</a>
							}
						</td>
						<td class="w-100">
							@item.Item.BeforeMigrationBackupPath<br />
							@item.Item.BeforeMigrationBackupOn<br />
							@item.Item.BeforeMigrationRestoreOn
							@if (item.Item.BeforeMigrationBackupPath.HasValue())
							{
								<br />
								<a href="/olive/migration/restore/@item.Item.GetId()?mode=before" class="btn btn-warning">Restore before migration backup</a>
							}

						</td>
						<td class="w-100">
							@item.Item.AfterMigrationBackupPath<br />
							@item.Item.AfterMigrationBackupOn<br />
							@item.Item.AfterMigrationRestoreOn
							@if (item.Item.AfterMigrationBackupPath.HasValue())
							{
								<br />
								<a href="/olive/migration/restore/@item.Item.GetId()?mode=after" class="btn btn-warning">Restore after migration backup</a>
							}
						</td>
						<td class="@(item.Item.Migrated?"text-success":"text-muted")">@(item.Item.Migrated ? "Done" : "Waiting")</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}